[Unit]
Description=Service to fire off a btrfs-backup
Documentation=http://github.com/moonkid196/btrfs-backup

# Configured for network backups
Requisite=network.target

[Timer]
# For persistent uptime
#OnActiveSec=10m
#OnUnitActiveSec=1h

# For intermittent uptime
OnCalendar=*:23:59
Persistent=true

[Install]
WantedBy=timers.target
