[Unit]
Description=Starts the private dbus/keyring for btrfs-backup
Documentation=http://github.com/moonkid196/btrfs-backup

[Service]
Type=forking
ExecStart=/usr/local/bin/btrfs-backup init

[Install]
WantedBy=multi-user.target
